<header>
  <div class="row">
    <div class="menu-icon" *ngIf="showMenuIcon" (click)="toggleMenu()">
      <i class="fa-solid fa-bars text-white"></i>
    </div>
    <div class="d-flex" id="logo-wrap">
      <a routerLink="/">
        <img class="logo" src="assets/images/logo.png" alt="logo">
      </a>
    </div>
    <div class="responsive-menu">
      <nav id="menu-bar">
        <ul>
          <a routerLink="/agenda" class="text-white">
            <li class="py-4 px-2">Agenda</li>
          </a>
          <a routerLink="/barbers" class="text-white">
            <li class="py-4 px-2">Barbeiros</li>
          </a>
          <a routerLink="/orders" class="text-white">
            <li class="py-4 px-2">Cortes</li>
          </a>
          <a routerLink="/contact" class="text-white">
            <li class="py-4 px-2">Contato</li>
          </a>
          <a routerLink="/address" class="text-white">
            <li class="py-4 px-2">Endereço</li>
          </a>
        </ul>
      </nav>
    </div>
    <div class="register">
      <a routerLink="/register" class="register-link">
        Olá, Visitante! <br> Registre-se.
      </a>
      <a routerLink="/profile" class="text-white">
        <i class="material-icons" id="user-icon">account_circle</i>
      </a>
    </div>
  </div>
</header>
