<header class="header">
  <span class="logo">
    <a routerLink="">
      <img class="logo-image" src="assets/images/logo.png" alt="logo">
    </a>
  </span>
  <aside>
    <ul class="menu">
      <a routerLink="/agenda">
        <li>Agenda</li>
      </a>
      <a routerLink="/barbers">
        <li>Barbeiros</li>
      </a>
      <a routerLink="/orders">
        <li>Cortes</li>
      </a>
      <a routerLink="/contact">
        <li>Contato</li>
      </a>
      <a routerLink="/address">
        <li>Endereço</li>
      </a>
    </ul>
  </aside>
  <span class="register">
    <a routerLink="/register">
      Olá, Visitante! Registre-se.
    </a>
    <a routerLink="/profile">
      <i class="material-icons user-icon">account_circle</i>
    </a>
  </span>
</header>
