.tableRow:hover {
    background-color: #79797a;
    color: white
}

.tableRow {
    background-color: #cfd0d1;
    color: #020430
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85vh
}

.tableContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.tableHeader {
    background-color: #020430;
    color: white
}

.tableBody {
    background-color: #cfd0d1;
}

.settingsButton {
    font-size: 1rem;
    color: #020430;
    align-self: end
}

.trashButton:hover {
    color: red;
}

.pencilButton:hover {
    color: yellow;
}

.formContainer {
    background-color: #020430;
    padding-bottom: 1.5rem;
    position: fixed;
    left: 44%;
    border: solid #cfb12b 2px;
    border-radius: 1rem
}

.settingsContainer {
    position: fixed;
    left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020430;
    width: 70vh;
    min-height: 45vh;
    color: white;
    padding: 2rem;
    border: solid #cfb12b 2px;
    border-radius: 1rem;
}

.edit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editSuccess {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 40vh;
    left: 50%;
    background-color: #020430;
    color: white;
    border: solid #cfb12b 2px;
    border-radius: 1rem;
}

.addButton {
    background-color: #020430;
    color: white;
    width: 5.5rem;
    margin-right: 1.1rem;
    margin-bottom: 0.5rem;
    align-self: end;
    font-size: 0.8rem;
}

.addButton:hover {
    background-color: #020430;
    color: white;
    font-weight: bolder;
}

.offscreen {
    position: absolute;
    left: -9999px
}