.tableRow:hover {
    background-color: #79797a;
    color: white
}

.tableRow {
    background-color: #cfd0d1;
    color: #020430
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85vh
}

.tableContainer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.tableHeader {
    background-color: #020430;
    color: white
}

.tableBody {
    background-color: #cfd0d1;
}

.settingsButton {
    font-size: 1rem;
    color: #020430;
    align-self: end
}

.trashButton:hover {
    color: red;
}

.pencilButton:hover {
    color: yellow;
}

.formContainer {
    padding-bottom: 1.5rem;
    position: fixed;
    z-index: 9;
    left: 45%;
    width: 25%
}

.settingsContainer {
    position: fixed;
    z-index: 7;
    left: 43%;
    top: 15%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020430;
    width: 30vw;
    min-height: 45vh;
    color: white;
    padding: 3rem;
    border: solid #cfb12b 2px;
    border-radius: 1rem;
}

.edit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editSuccess {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    left: 50%;
    background-color: #020430;
    color: white;
    border: solid #cfb12b 2px;
    border-radius: 1rem;
}

.addButton {
    background-color: #020430;
    color: white;
    width: 5.5rem;
    margin-right: 1.1rem;
    margin-bottom: 0.5rem;
    align-self: end;
    font-size: 0.8rem;
}

.availabilityButton {
    background-color: #020430;
    color: white;
    width: 7.5rem;
    margin-right: 1.1rem;
    margin-bottom: 0.5rem;
    align-self: end;
    font-size: 0.8rem;
}

.addButton:hover,
.availabilityButton:hover {
    background-color: #020430;
    color: white;
    font-weight: bolder;
}

.offscreen {
    position: absolute;
    left: -9999px
}

.input {
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
    padding: 0.3rem;
}

.tableContainer thead {
    position: sticky;
    top: 0;
    z-index: 8;
}

.calendar {
    position: fixed;
    left: 46%;
    background-color: #cfd0d1;
    border: solid 2px black;
    width: 25vw;
    border-radius: 0.5rem;
    color: black
}

.hoursContainer {
    position: relative;
    width: 25vw
}