<footer>
  <div class="about">
    <span class="line">__</span>
    <p class="about-title">
      Sobre a barbearia
    <p class="about-text">
      Aqui tem uma breve descrição da barbearia, consectetur adipiscing elit. Nunc vulputate libero et velit interdum,
      ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos.
      Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur neque
    </p>
  </div>
  <div class="comment">
    <div class="comment-text">
      <img alt="crypto" src="assets/images/image-placeholder.png">
      <i class="fa-sharp fa-solid fa-quote-left quotes"></i>
      <span>
        Aqui tem um comentario sobre a barbearia, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur neque...
      </span>
    </div>
    <div class="form-group comment-field">
      <label for="comment-text" class="icon">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </label>
      <input type="text" class="form-control" id="comment-text" placeholder="Digite seu comentário...">
    </div>
  </div>
  <div class="social-media">
    <i class="fa-brands fa-instagram insta"></i>
    <i class="fa-brands fa-whatsapp whatsapp"></i>
    <i class="fa-brands fa-square-facebook face"></i>
  </div>
</footer>
