
footer {
  color: white;
  margin: 0 5px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 40px;
}

.about{
  margin-bottom: 20px;
  text-align: justify;
}

.about-title {
  font-size: 16px;
  font-weight: bold;
}

.comment {
  display: flex;
  flex-direction: column;
}

.label-icon {
  font-size: 25px;
  margin-right: 3px;
  margin-top: 2px;
}

textarea {
  width: 100%;
  height: 50px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 5px;

}

.send-button {
  position: relative;
  width: 50px;
  border-radius: 5px;
  left: 27px;
  background-color: #FFCE2E;
  font-weight: bold;

}

#quotes {

  font-size: 25px;
  margin: 0 10px;
  color: #FFCE2E;

}

.social-media {
  font-size: 35px;
  padding-top: 20px;
  align-self: center;
}

.face-icon {
  color: black;
  margin-top: 1.5px;
  background-color: white;
  border-radius: 5px;
  border-top: 1.5px solid white;
  border-right: 2.3px solid white;
  border-left: 2.5px solid white;
  font-size: 31px;
}


img{
  width: 60px;
  height: 50px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 60px

}

.line {
  font-weight: bolder;
  color: #FFCE2E;
}

.icon-margin {
  margin: 7px;
}

@media (min-width: 576px) {
  .wrap {
    flex-direction: row;
    padding: 0;
    padding: 0 35px;
    padding-bottom: 40px;
  }

  .about {
    padding-right: 40px;

  }

  .comment {
    padding-top: 15px;
    padding-right: 40px;

  }

  .social-media {
    align-self: flex-start;
    justify-self: start;
    padding-top: 13px;

  }

  .icon-margin {
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .wrap {
    padding: 0 100px;
    padding-bottom: 40px;
  }

  textarea {
    width: 60%;
  }
}
