<div class="wrap">
  <form class="card" type="submit">
    <h1>Contate-nos</h1>
    <h2>Envie-nos suas dúvidas e ideias</h2>
    <label for="name">Nome</label>
    <input type="text" id="name">
    <label for="email">E-mail</label>
    <input type="text" id="email">
    <label for="subject">Assunto</label>
    <input type="text" id="subject">
    <label for="message">Mensagem</label>
    <textarea name="message" cols="30" rows="10"></textarea>
    <label for="message"></label>
    <label for="input-file" class="input-wrapper">
      <i class="fa-solid fa-paperclip"></i>
      Escolha um arquivo
    </label>
    <div class="attachment">
      <input type="file" id="input-file">
    </div>
    <input type="submit" value="Enviar">
  </form>
</div>
