* {
  color: white;
}

.wrap {
  display: flex;
  height: 625px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  width: 300px;
  position: relative;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  height: 480px;
  padding: 20px 30px;

}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 12px;
  line-height: 0px;
  margin-bottom: 30px;
}

input {
  background: rgba(0, 0, 0, 0.0);
  border: none;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

.text-camp {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: solid white 2px;
  font-size: 12px;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.9) inset;
}

textarea[name='message'] {
  display: flex;
  position: relative;
  height: 65px;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.0);
  border: none;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

input[value='Enviar'] {
  display: flex;
  width: 152.14px;
  height: 41.3px;
  margin-top: 20px;
  background-color: #FFCE2E;
  color: black;
  border-radius: 15px;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.attachment{
  position: relative;
  left: 25px;
  height: 50px;
  width: 145px;
  overflow: hidden;
  align-self: center;
}
#input-file {
  position: relative;
  right: 78px;
  margin: 0;
  border: none;
  font-size: 10px;
}

[value='Enviar']{
  border: none  ;
}

