@font-face {
  font-family: 'Oswald';
  src: url(assets/fonts/Oswald-VariableFont_wght.ttf);
}
* {
  font-family: 'Oswald';
}

body {
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  margin:0;
}

html {height: 100%; width: 100%;}




